.main{
    margin: 30px;
    background-color: white;
}

body{
    background-color: #efefef;
}

.bth-publish{
    float: right;
    margin-bottom: 15px;
}


.media-object{
    width: 40px;
    height: 40px;

}


.question-tag{
    margin-right: 5px;
}

.text-desc{
    font-size :12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
}

.menu{
    color: #999999;
    margin-top: 6px;

}
.comments{
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.menu .icon{
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
}


.menu .icon:hover{
    color: #2e6da4;
}


.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding-top: 15px;
}