<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="jumbotron">
    <h1>出错啦~~~~</h1>
    <p th:text="${message}"></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">back to the index</a></p>
</div>


</body>
</html>