<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>


<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">  <!--表单再次提交会把属性传递过来，但是不会展示-->
                <div class="form-group">
                    <label for="title">问题标题(简明扼要)</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题……">

                </div>

                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）</label>
                    <textarea class="form-control" th:text="${description}" name="description" id="description"
                              cols="30" rows="10"></textarea>


                    <div class="form-group">
                        <label for="tag">添加标签：</label>
                        <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                               placeholder="输入标签,以逗号隔开">

                    </div>


                    <div class="container-fluid main">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                                <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                th:text="${error}"
                                th:if="${error!=null}">
                                </div>


                            </div>
                            <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12" >
                                <button type="submit"
                                        class="btn btn-success bth-publish ">
                                    发布
                                </button>
                            </div>


                        </div>
                    </div>
                </div>

            </form>


        </div>
        <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            · 问题标题：请用精简的语言描述你发布的问题<br>
            · 问题补充：信息补充你进的问题内容<br>
            · 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过十个字<br>

        </div>
    </div>
</div>


</body>
</html>